<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>BigPipe</title>
  <!--公共样式-->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/highlight.js/8.4/styles/monokai_sublime.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" >
</head>
<body>

<!--头部-->
<div id="pagelet1" class="header"><div class="loadding">加载头部 loadding....</div></div>

<!--中间-->
<div id="pagelet21" class="main container"><div class="loadding">加载内容1 loadding....</div></div>
<div id="pagelet22" class="main container"><div class="loadding">加载内容2 loadding....</div></div>  
<div id="pagelet23" class="main container"><div class="loadding">加载内容3 loadding....</div></div>  
<div id="pagelet24" class="main container"><div class="loadding">加载内容4 loadding....</div></div>
<div id="pagelet25" class="main container"><div class="loadding">加载内容5 loadding....</div></div>


<!--底部-->
<div id="pagelet3" class="footer"><div class="loadding"> 加载底部 loadding....</div></div>
   

<!--公共JS-->
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/mod.js"></script>
<script src="/js/bigrender.js"></script>
<script src="/js/bigpipe.js"></script>
</body>
</html>

<!--各个组件JS-->

